.main-content {
  background-color: antiquewhite;
}
.user-access {
  border-radius: 30px;
  padding: 2px;

  margin: 15px 15px 15px 30px;
}
.user-detail {
  background-color: aqua;
  border-radius: 40px;
  margin: 15px 15px 15px 0px;
}

.access-item {
  font-size: 1.4rem;
  padding: 5px;
  color: wheat;
  cursor: pointer;
}
.icon {
  font-size: 1.4rem;
  padding: 2px;
}
